logging/
logging/*
.idea/
.idea/*
config/*
!config/config_sample.yml
excel/*
output/*
!excel/urenoverzicht.xlsx
images/*s
data/*
logging/*
mail-attachments/
mail-attachments/*
pdf_files/*
functions/__pycache__/
functions/__pycache__/*
.c9/
.c9/*
word_output/*
venv/
venv/*